<footer class="footer">
  <div class="container footer-container">
   <div class="footer-copyright">
    <p class="footer-text">© All rights reserved <br class="mobile-break" />sapphirepuzzlemania.com | 2025</p>
   
   </div>
   <div class="footer-list">
    
       <ul>
      <li class="footer-item">
         <a href="privacy-policy.html" class="footer-item-link">Privacy Policy</a>
        </li>

        <li class="footer-item">
          <a href="terms-conditions.html" class="footer-item-link">Terms and Conditions</a>
         </li>

         <li class="footer-item">
          <a href="cookies-polisy.html" class="footer-item-link">Cookies Policy</a>
         </li>
    </ul>
   </div>
  </div>
</footer>

