<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <div class="title-gallery-box">
      <h2 class="title-gallery">Gallery</h2>
    </div>
  
    <div class="gallery-wrapper">
      <div class="gallery-truck">

        <div class="gallery-card clipped-corners-box">
          <img src="/img/gallery-img/gallery-card1.png" 
          alt="Block Puzzle Game 1" srcset="/img/gallery-img/gallery-card1.png,
          /img/gallery-img/gallery-card1-2x.png"  width="508" height="903">
        </div>

        <div class="gallery-card clipped-corners-box">
          <img src="/img/gallery-img/gallery-card2.png" 
          alt="Block Puzzle Game 2" srcset="/img/gallery-img/gallery-card2.png,
          /img/gallery-img/gallery-card2-2x.png"  width="508" height="903">
        </div>

        <div class="gallery-card clipped-corners-box">
          <img src="/img/gallery-img/gallery-card3.png" 
          alt="Block Puzzle Game 3" srcset="/img/gallery-img/gallery-card3.png,
          /img/gallery-img/gallery-card3-2x.png"  width="508" height="903">
        </div>

        <div class="gallery-card clipped-corners-box">
          <img src="/img/gallery-img/gallery-card4.png" 
          alt="Block Puzzle Game 4" srcset="/img/gallery-img/gallery-card4.png,
          /img/gallery-img/gallery-card4-2x.png"  width="508" height="903">
        </div>

        <div class="gallery-card clipped-corners-box">
          <img src="/img/gallery-img/gallery-card5.png" 
          alt="Block Puzzle Game 5" srcset="/img/gallery-img/gallery-card5.png,
          /img/gallery-img/gallery-card5-2x.png"  width="508" height="903">
        </div>
      
      </div>
      <button class="gallery-button prev" aria-label="Previous slide">❮</button>
      <button class="gallery-button next" aria-label="Next slide">❯</button>
    </div>
    <div class="gallery-dots"></div>
  </div>
</section>
