<section class="gallery">
  
    <div class="container gallery-container">
      <div class="title-gallery-box"><h2 class="title-gallery">Gallery</h2></div>
            <div class="gallery-truck">
            <div class="gallery-card">
                <img src="../img/gallery-img/gallery-card1.png"
                     srcset="../img/gallery-img/gallery-card1.png, ../img/gallery-img/gallery-card1-2x.png"
                     alt="Block Puzzle Game 1" width="508" height="903">
            </div>
            <div class="gallery-card">
                <img src="../img/gallery-img/gallery-card2.png"
                     srcset="../img/gallery-img/gallery-card2.png, ../img/gallery-img/gallery-card2-2x.png"
                     alt="Block Puzzle Game 2">
            </div>
            <div class="gallery-card">
                <img src="../img/gallery-img/gallery-card3.png"
                     srcset="../img/gallery-img/gallery-card3.png, ../img/gallery-img/gallery-card3-2x.png"
                     alt="Block Puzzle Game 3">
            </div>
            <div class="gallery-card">
                <img src="center-img.jpg"
                     srcset="../img/gallery-img/gallery-card4.png, ../img/gallery-img/gallery-card4-2x.png"
                     alt="Block Puzzle Game 4">
            </div>
            <div class="gallery-card">
                <img src="../img/gallery-img/gallery-card5-2x.png"
                     srcset="../img/gallery-img/gallery-card5.png, ../img/gallery-img/gallery-card5-2x.png"
                     alt="Block Puzzle Game 5">
            </div>
            <div class="gallery-card">
                <img src="../img/gallery-img/gallery-card6.png"
                     srcset="../img/gallery-img/gallery-card6.png, ../img/gallery-img/gallery-card6-2x.png"
                     alt="Block Puzzle Game 6">
            </div>
        </div>
        <button class="gallery-button prev" aria-label="Попередній слайд">❮</button>
        <button class="gallery-button next" aria-label="Наступний слайд">❯</button>
      </div>
   
  </section>