<header class="header">
  <div class="container">
    <a href="#" class="logo-header">
      <img src="../img/header-img/img-header.png" alt="logo img">
    </a>
    
    <nav class="nav-title" id="navMenu">
      <button class="close-btn" id="closeBtn">✕</button>
      <ul class="nav-list">
       
        <li class="nav-item">
          <a class="nav-item-link" href="#About-game">About Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#Key Features" >Key Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#FAQ" >FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#Player Reviews">Player Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="#Gallery" >Gallery</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="burger" id="burgerBtn">
    <svg>
      <use href="../img/sprite.svg#icon-burger"></use>
    </svg>
  </button>
 
  <script src="../js/header.js"></script>
</header>