  <section id="hero" class="section-hero">
    <div class="container">
      <div class="hero-img-bg">
        <div class="hero-info">
          <h1 class="hero-header">Block Puzzle: Adventure Master</h1>
          <p class="hero-text">Solve, Explore, and Master the Puzzle Realms!</p>
          
            <div class="button-wrapper">
              <button class="hero-button">
                Play Now
              </button>
                </div>
        </div>
      
        
      </div>

    </div>
  </section>