  <section id="hero" class="section-hero">
    <div class="container">
      <div class="hero-img-bg">
        <div class="hero-info">
          <h1 class="hero-header">Block Puzzle: Adventure Master</h1>
          <p class="hero-text">Solve, Explore, and Master the Puzzle Realms!</p>
          <button class="hero-button">
            <svg class="hero-button-bg" aria-hidden="true">
              <use href="sprite.svg#icon-bg-button"></use>
            </svg>
            <span class="hero-button-text">Play Now</span> </button>
        </div>
      
        
      </div>

    </div>
  </section>