<section id="Key Features" class="section-key">
    <div class="container">
      <h2 class="key-header">
        Key Features
      </h2>
      <ul class="key-list">
        <li class="key-item" id="puzzle">
          <svg class="key-icon" width="54" height="54" >
            <use href="/img/sprite.svg#icon-puzzle" ></use>
          </svg>
          <div class="key-info">
            <h3 class="key-item-header">Classic Puzzle Gameplay, Reimagined</h3>
            <p class="key-item-text">Drag and drop blocks to clear lines and advance through stunning puzzle maps.</p>
          </div>
        </li>
        <li class="key-item " id="adventure">
          <svg class="key-icon" width="54" height="54" >
            <use href="/img/sprite.svg#icon-adventure"></use>
          </svg>
          <div class="key-info">
            <h3 class="key-item-header">Adventure-Style Progression</h3>
            <p class="key-item-text">Unlock new themed puzzle regions as you solve increasingly complex levels.</p>
          </div>
        </li>
        <li class="key-item" id="challenge">
          <svg class="key-icon" width="54" height="54" >
            <use href="/img/sprite.svg#icon-challenge"></use>
          </svg>
          <div class="key-info">
            <h3 class="key-item-header">Daily Challenges & Missions</h3>
            <p class="key-item-text">Play new levels each day to earn rewards, trophies, and new block skins.</p>
        </div>
        </li>
        <li class="key-item" id="strategic">
          <svg class="key-icon" width="54" height="54" >
            <use href="/img/sprite.svg#icon-strategic"></use>
          </svg>
          <div class="key-info">
            <h3 class="key-item-header">Strategic Depth</h3>
            <p class="key-item-text">Plan moves ahead, manage limited space, and maximize scores with clever placement.</p>
          </div>
        </li>
        <li class="key-item" id="powerup">
          <svg class="key-icon" width="54" height="54" >
            <use href="/img/sprite.svg#icon-powerup"></use>
          </svg>
          <div class="key-info">
            <h3 class="key-item-header">Unlock Power-Ups</h3>
            <p class="key-item-text">Use magic hammers, reshuffle charms, and time freezes to overcome tight spots.</p>
          </div>
        </li>
        <li class="key-item" id="visual">
          <svg class="key-icon" width="54" height="54" >
            <use href="/img/sprite.svg#icon-visual"></use>
          </svg>
          <div class="key-info">
            <h3 class="key-item-header">Stunning Visuals</h3>
            <p class="key-item-text">Enjoy beautiful handcrafted backgrounds, animated effects, and relaxing soundscapes as you play.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>