:root {
  --white: #fff;
  --yellow-main: #ffd039;
  --purple-main: #262453;
  --black: #18191b;
  --pink: #ca7cc8;
  --gray: #dbdbdb;
  --dark-blue: #051b2b;
  --light-blue: #196fad;
  --dark-pink: #19052b;
  --light-pink: #8119ad;
  --dark-turquiose: #05252b;
  --light-turquiose: #19a8ad;
  --dark-yellow: #151512;
  --light-yellow: #ad8f19;
  --dark-green: #051603;
  --light-green: #0a8b2b;
  --dark-red: #2b0506;
  --light-red: #8b0a0c;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Zen Dots', sans-serif;
  --third-family: 'Inter', sans-serif;
  --font3: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--white);
background-color:#262453;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}


@media screen and (min-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}