.footer {
  background-color: var(--yellow-main);
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
}

.footer-copyright p {
  margin: 0;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--black);
}

.footer-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-item-link {
  text-decoration: none;
  color: var(--black);
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer-item-link:hover {
  text-decoration: underline;
}

.mobile-break {
  display: none;
}

.footer-item-link:focus {
  outline: none;
  color: #fff;
  text-decoration: underline;
}

.footer-item-link:active {
  color: #fff;
  text-decoration: underline;
}
.mobile-break {
  display: inline;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 69px;
  }

  .footer-copyright p {
    text-align: start;
  }

  .footer-list ul {
    flex-direction: row;
    gap: 30px;
  }
  .mobile-break {
    display: none;
  }
}
@media (max-width: 767px) {
  .mobile-break {
    display: inline;
  }
}
