.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  /* padding: 40px 0; */
  padding-top: 40px;
  padding-bottom: 100px;
}

.gallery-container {
  width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-gallery-box {
  text-align: center;
  margin-bottom: 60px;
}

.title-gallery {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.gallery-wrapper {
  position: relative;
  width: 1040px;
  height: 959px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-truck {
  position: relative;
  width: 861px;
  height: 903px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-card {
  position: absolute;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, opacity 0.5s;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-button {
  border-radius: 16px;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  font-size: 24px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-button:hover {
  background: var(--yellow-main);
}

.gallery-button.prev {
  left: calc(50% - 480px);
}

.gallery-button.next {
  right: calc(50% - 480px);
}

.gallery-dots {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.gallery-dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-dots .dot.active {
  background: var(--yellow-main);
}

@media (min-width: 768px) {
  .clipped-corners-box img {
    clip-path: polygon(
      0 60px,
      30px 30px,
      60px 0,
      100% 0,
      100% calc(100% - 40px),
      calc(100% - 20px) calc(100% - 20px),
      calc(100% - 40px) 100%,
      0 100%
    );
  }
}

@media (max-width: 768px) {
  .gallery {
    /* padding: 20px 0; */
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .gallery-container {
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
  }
 .title-gallery-box {
    margin-bottom: 60px;
 }
  .title-gallery {
    font-size: 22px;
    /* margin-bottom: 12px; */
  }

  .gallery-wrapper,
  .gallery-truck {
    position: relative;
    width: 100%;
    max-width: 288px;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-wrapper {
    margin-bottom: 24px;
  }

  /* .gallery-truck {
    margin-bottom: 16px;
  } */
  .gallery-card {
    width: 256px;
    height: 455px;
    margin: 0 auto;
  }

  .gallery-button.prev {
    left: 5px;
  }
  .gallery-button.next {
    right: 5px;
  }

  .gallery-dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .gallery-dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }
}
