.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  box-sizing: border-box;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

html {
  scroll-behavior: smooth;
}

.nav {
  display: none;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  font-family: Poppins, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.nav-list a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-list a:hover {
  color: #ffd039;
  text-decoration: underline;
}
.nav-list a.active-link {
  color: #ffd039;
  text-decoration: underline;
}

/* Burger */
.burger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s ease;
  margin-left: auto;
}
.burger.open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.burger-line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 30px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: none;
    top: 30px;
  }
}

.burger:hover .burger-line {
  background-color: #ffd039;
  text-decoration: underline;
}

.burger:focus .burger-line {
  background-color: #ffd039;
  outline: 2px solid yellow;
}
.burger:active .burger-line {
  background-color: #ffd039;
}
.burger:active .burger-line:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}
.burger:active .burger-line:nth-child(2) {
  opacity: 0;
}
.burger:active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262453;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.logo {
  display: none;
}

.mobile-nav {
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
  box-sizing: border-box;
}

.mobile-nav-list {
  list-style: none;
  text-align: start;
  padding: 0;
}

.mobile-nav-list li {
  margin-bottom: 0;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 32px;
  padding-top: 32px;
}

.mobile-nav-list a {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s;
}
.mobile-nav-list a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s, text-decoration 0.3s;
}

.mobile-nav-list a:hover {
  color: #ffd039;
  text-decoration: underline;
}
.mobile-nav-list a.active-link {
  color: #ffd039;
  text-decoration: underline;
}
.mobile-nav-list li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.mobile-nav-list li:first-child {
  padding-top: 0;
}

.close-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.mobile-menu.active .close-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-menu:hover {
  color: #fff;
}

.close-menu:focus {
  outline: none;
  color: yellow;
}
.header-mobile-box {
  min-width: 288px;
  min-height: 380px;
  border: 1px solid rgba(202, 124, 200, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to right,
    rgba(202, 124, 200, 0.5),
    rgba(202, 124, 200, 0) 30%,
    rgba(202, 124, 200, 0) 70%,
    rgba(202, 124, 200, 0.3)
  );
}
.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .header {
    background-color: #262453;
    padding: 24px 80px;
    
  }
  .header-container {
    margin: 0 auto;
  }

  .logo {
    display: block;
  }

  .burger {
    display: none;
  }
  .nav {
    display: block;
  }
  .mobile-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

/* No scroll effect */
body.no-scroll {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}
